{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Scheda Prodotto: {{q.nome_prodotto}} {% endblock title %}

{% block content %}

<div class="container col-sm-12 jumbotron">
    <div class="card">
      <div class='card-title '>         
        <a href="{% url 'logistica:elencoprodotti' %}"><button class='btn btn-warning mt-2'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
          <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
        </svg></button></a>                
        <a href="{% url 'logistica:aggiornaprodotto' pk=c.pk %}"><button class='btn btn-success mt-2'><i class='fa-solid fa-edit'></i></button></a>        
      
      <a href="{% url 'logistica:ordineprodotto' pk=c.pk %}"><button class='btn btn-warning mt-2'>Ordini Prodotto</button></a>        
    </div>
      <div class="card-body">
        <h3 class="card-header">{{c.nome_prodotto}}</h3>
        <h6>Quantità disponibile in magazzino: {{giac.giacenza}}
        <hr>
        <p class='card-text '>Fornitore:<br>{{c.fornitore}} <br> Mail Fornitore:<br>{{c.fornitore.mailAmministrazione}}</p>
        <hr>
        <p class='card-text '>Prezzo di base:<br>{{c.prezzo}} €</p>
        <hr>
        
        <p class='card-text '>Stato Prodotto: <br>{{c.tipo_articolo}} </p>
        <hr>
        <p class='card-text '>Principi Attivi: <br> {% if c.principi_attivi %}{{c.principi_attivi}}{% else %}Nessun Principio attivo indicato{% endif %}</p>
        <hr>
        
        <p class='card-text '>Note:<br>{% if c.note %}{{c.note}}{% else %}Nessuna Nota registrata{% endif %}</p>
        <hr>
        
        </div>
        
      
      
     </div>

    


{% endblock content %}