{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Recupero Credito: {{rec.id}} {% endblock title %}

{% block content %}
 



<div class="col-sm-12 jumbotron">
    <div class="card">
        <div class='card-title text-center'>         
            <a href="{% url 'contabilità:elencorecupero' %}"><button class='btn btn-warning mt-2'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
            </svg></button></a>                
            <a href="{% url 'contabilità:aggiornarecupero' pk=rec.pk %}"><button class='btn btn-success mt-2'><i class='fa-solid fa-edit'></i></button></a>        
        </div>
        <div class="card-body">
            <h3 class="card-header text-center">Recupero numero {{rec.id}}</h3>
            <hr>
            <p class='card-text text-center'>Servizio:<br>{{rec.servizio.id}} <br> Cliente<br>{% if rec.servizio.azienda.ragioneSociale %}{{rec.servizio.azienda.ragioneSociale}}{% else %}{{rec.servizio.privati.nome_cognome}}{% endif %}</p>
            <hr>
            <p class='card-text text-center'>Prezzo iniziale da incassare: <br>{{rec.servizio.prezzo}}</p>
            <hr>
            <p class='card-text text-center'>Importo incassato: <br>{{rec.servizio.importo_incassato}} </p>
            <hr>
            <p class='card-text text-center'>Differenza: <br> {{rec.importo_da_recuperare}}</p>
            <hr>
            <p class='card-text text-center'>Data concordata per il recupero:<br>{{rec.data}} </p>
            <hr>
            <p class='card-text text-center'>Note:<br>{% if rec.note %}{{rec.note}}{% else %}Nessuna Nota registrata{% endif %}</p>
            <hr>          
        </div>
    </div>
</div>
    


{% endblock content %}