{% extends "base.html" %}
{% url 'anagrafica:vediprivato' as codice %}
{% block title %} {{ block.super }} Elenco Anagrafica{% endblock title %}


{% block content %}


<div class='jumbotron container table-responsive'>
  <h3 class='text-center'>Elenco Anagrafica Privati</h3>


<table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">Codice</th>
        <th scope="col">Nome e Cognome</th>
        <th scope="col">Città</th>
        <th scope="col">Telefono</th>
        <th scope="col">Vedi Scheda Privato</th>
        {% if perms.anagrafica.can_add_azienda %}<th scope="col">Aggiorna Scheda Privato</th>{% endif %}
        
      </tr>
    </thead>
    <tbody> 
      
        {% for c in  clienti %}
      <tr>
        <th scope="row">{{c.id}}</th>
        <td>{{c.nome_cognome}}</td>
        <td>{{c.citta}}</td>
        <td>{{c.telefono_cliente}}</td>
        <td><a href='{{c.get_absolute_url}}'><i class='fa-solid fa-arrow-pointer'></i></td>
          {% if perms.anagrafica.can_add_azienda %}<td><a href="{% url 'anagrafica:aggiornaprivato' pk=c.pk %}"><i class='fas fa-edit'></i></td>{% endif %}

        {% endfor %}
      </tr>
    </tbody>
</table>
</div>



{% endblock content %}