{% extends "base.html" %}
{% url 'anagrafica:vedicodice' as codice %}
{% block title %} {{ block.super }} Elenco Anagrafica{% endblock title %}


{% block content %}
<div class='jumbotron container table-responsive'>
<h3 class='text-center'>Elenco Anagrafica Clienti</h3>


<table class="table text-center table-hover">
    <thead>
      <tr>
        <th scope="col">Codice</th>
        <th scope="col">Ragione Sociale</th>
        <th scope="col">Città</th>
        <th scope="col">Referente</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Vedi Scheda Cliente</th>
        {% if perms.anagrafica.can_add_azienda %}<th scope="col">Aggiorna Scheda Anagrafica</th>{% endif %}
        
      </tr>
    </thead>
    <tbody>{% for c in  clienti %}
      <tr>
        
        <th scope="row">{{c.id}}</th>
        <td>{{c.ragioneSociale}}</td>
        <td>{{c.cittaLegale}}</td>
        <td>{{c.referente}}</td>
        <td>{{c.telefono}}</td>
        <td>{{c.mailOperativo1}}</td>
        <td><a href='{{c.get_absolute_url}}'><i class='fa-solid fa-arrow-pointer'></i></td>
        {% if perms.anagrafica.can_add_azienda %}<td><a href="{% url 'anagrafica:aggiornaazienda' pk=c.pk %}"><i class='fas fa-edit'></i></td>{% endif %}

        {% endfor %}
      </tr>
    </tbody>
  </table>
 

</div>

{% endblock content %}