{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Nuova Distinta{% endblock title %}

{% block content %}

<div class='jumbotron container  '>
    <h3 class='text-center'>Nuova Distinta</h3>
    <form method='POST'>
        {% csrf_token %}
        {{form|crispy}}
        
        <button class='btn btn-primary'type='submit'>Conferma</button>
    </form>
</div>

<script>
  
    $("#id_servizio").select2();
    $("#id_recupero").select2();
</script>
{% endblock content %}